@model NewsViewModel

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-7 col-xl-8 mt-0">
                @foreach (var item in Model.result.OrderBy(x => x.key).Take(1))
                {
                    <div class="position-relative overflow-hidden rounded">
                        <img src="@item.image" style="height:550px" class="img-fluid rounded img-zoomin w-100" alt="">
                         <div class="d-flex justify-content-center px-4 position-absolute flex-wrap" style="bottom: 10px; left: 0;">
                            <a href="#" class="text-white me-3 link-hover"><i class="fa fa-clock"></i> 6 dk. Okuma</a>
                            <a href="#" class="text-white me-3 link-hover"><i class="fa fa-eye"></i> 3.5 Bin Okunma</a>
                            <a href="#" class="text-white me-3 link-hover"><i class="fa fa-comment-dots"></i> 6 Yorum</a>
                            <a href="#" class="text-white link-hover"><i class="fa fa-arrow-up"></i> 1.5 Bin Paylaşım</a>
                        </div> 
                    </div>


                    <div class="border-bottom py-3">
                        <a href="@item.url" class="display-4 text-dark mb-0 link-hover">@item.name</a>
                    </div>
                    <p class="mt-3 mb-4">
                        @item.description
                    </p>
                }

                <div class="bg-light p-4 rounded">
                    <div class="news-2">
                        <h3 class="mb-4">Son Dakika</h3>
                    </div>
                    @foreach(var item in Model.result.OrderByDescending(x => x.key).Take(1))
                    {
                        <div class="row g-4 align-items-center">
                            <div class="col-md-6">
                                <div class="rounded overflow-hidden">
                                    <img src="@item.image" class="img-fluid rounded img-zoomin w-100" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex flex-column">
                                    <a href="#" class="h3">@item.name</a>
                                    <p class="mb-0 fs-5"><i class="fa fa-clock"> 6 dk. Okuma</i> </p>
                                    <p class="mb-0 fs-5"><i class="fa fa-eye"> 3.5 Bin Görüntülenme</i></p>
                                </div>
                            </div>
                        </div>
                    }
                   
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 pt-0">
                    <div class="row g-4">
                        @foreach(var item in Model.result.OrderBy(x => x.url))
                        {
                            <div class="col-12">
                                <div class="row g-4 align-items-center">
                                    <div class="col-5">
                                        <div class="overflow-hidden rounded">
                                            <img src="@item.image" style="height:90px" class="img-zoomin img-fluid rounded w-100" alt="">
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="features-content d-flex flex-column">
                                            <a href="@item.url" class="h6">@item.name</a>
                                            <small><i class="fa fa-clock"> 06 dk. Okuma</i> </small>
                                            <small><i class="fa fa-eye"> 3.5 Bin Görüntülenme</i></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>